table.digtal-keybord,
table.char-keybord {
	table-layout: fixed;
	/*border-collapse: separate;
	border-spacing: 5px;*/
	border: none!important;
}

.digtal-keybord tbody tr td>button,
.char-keybord tbody tr td>button {
	border: none;
	outline: none;
	font-size: 18px;
	color: #414141;
	font-weight: 500;
	background-color: #EAEAEA;
	overflow: hidden;
	padding: 0px !important;
	margin: 0px !important;
	display: inline-block;
}

.digtal-keybord tbody tr td,
.char-keybord tbody tr td {
	background: transparent;
	padding: 0px!important;
	margin: 0px!important;
	border: none!important;
}

.digtal-keybord tbody tr td>button:hover,
.char-keybord tbody tr td>button:hover {
	cursor: pointer;
	font-size: 20px;
	background-color: #AFAFAF;
}