table.digtal-keybord,
table.char-keybord {
	table-layout: fixed;
	border: none!important;
}

table.digtal-keybord.default-theme tbody tr td>button,
table.char-keybord.default-theme tbody tr td>button {
	border: none;
	outline: none;
	font-size: 18px;
	color: #414141;
	font-weight: 500;
	background-color: #EAEAEA;
	overflow: hidden;
	padding: 0px !important;
	margin: 0px !important;
	display: inline-block;
}

table.digtal-keybord.default-theme tbody tr td,
table.char-keybord.default-theme tbody tr td {
	background: transparent;
	padding: 0px!important;
	margin: 0px!important;
	border: none!important;
}

table.digtal-keybord.default-theme tbody tr td>button:hover,
table.char-keybord.default-theme tbody tr td>button:hover {
	cursor: pointer;
	font-size: 20px;
	background-color: #AFAFAF;
}